[submodule "extern/chfs"]
	path = extern/chfs
	url = https://github.com/otatebe/chfs
  update = merge
[submodule "extern/mochi-spack-packages"]
	path = extern/mochi-spack-packages
	url = https://github.com/mochi-hpc/mochi-spack-packages.git
  update = merge
[submodule "extern/chfs-spack-packages"]
	path = extern/chfs-spack-packages
	url = https://github.com/range3/chfs-spack-packages
  update = merge
